// - Filename: Pretty sure you can read it in the title bar
// - Author's Name: John Horne
// - Website Name: comp2068-asgn-1.1
// - File Description: About page

extends partials/layout-general
append content
    h3 About me
    p Hello, my name is John Horne and currently enrolled as a student at Georgian College.
        | I'm majoring in Computer Science and have been programming since I was young.
        | Ever since, I've had a natural gift for picking up new programming languages with extreme ease.
        | Even though I know 98% of the content being taught before entering the course, I still wish to
        | obtain my degree so that I can specialize in Video Game Programming.
    
    p In my free time, I design and build web applications, Java programs as a hobby as well as 
        | attempting to pick up new programming languages and technologies that could be potentially
        | useful for any of my projects. Programming aside, I also enjoy playing video games, learning
        | other languages, cultures as well as psychology. 