extends layout-general
prepend content
    h3 Welcome to John's Work Portfolio!
    p To get started go ahead and navigate though the site using the navbar above!
    .alert.alert-warning 
        b Warning: 
        | Bordom may occur!
        