// - Filename: Pretty sure you can read it in the title bar
// - Author's Name: John Horne
// - Website Name: comp2068-asgn-1.1
// - File Description: Index page 

extends partials/layout-general
append content
    h3 Welcome to John's Work Portfolio!
    p To get started go ahead and navigate though the site using the navbar above!
    .alert.alert-warning 
        b Warning: 
        | Bordom may occur!
        