// - Filename: Pretty sure you can read it in the title bar
// - Author's Name: John Horne
// - Website Name: comp2068-asgn-1.1
// - File Description: Index page 

extends partials/layout-general
append content
    h3 Projects
    pre 
        include partials/latin-filler.txt