// - Filename: Pretty sure you can read it in the title bar
// - Author's Name: John Horne
// - Website Name: comp2068-asgn-1.1
// - File Description: Contact me page

extends partials/layout-general
append content
    h3 Services Available
    .thumbnail.col-sm-6.col-md-4
        .caption
            h3 Java
    .thumbnail.col-sm-6.col-md-4
        .caption
            h3 C#
    .thumbnail.col-sm-6.col-md-4
        .caption
            h3 PHP
    .thumbnail.col-sm-6.col-md-4
        .caption
            h3 AngularJS
    .thumbnail.col-sm-6.col-md-4
        .caption
            h3 Batch
    .thumbnail.col-sm-6.col-md-4
        .caption
            h3 C++
    .thumbnail.col-sm-6.col-md-4
        .caption
            h3 Python
    .thumbnail.col-sm-6.col-md-4
        .caption
            h3 Javascript
    .thumbnail.col-sm-6.col-md-4
        .caption
            h3 jQuery
    .thumbnail.col-sm-6.col-md-4
        .caption
            h3 HTML5
    .thumbnail.col-sm-6.col-md-4
        .caption
            h3 CSS3
    .thumbnail.col-sm-6.col-md-4
        .caption
            h3 Bash
    .thumbnail.col-sm-6.col-md-4
        .caption
            h3 MySQL
    .thumbnail.col-sm-6.col-md-4
        .caption
            h3 ActionScript3
    .clearfix
    